{% extends "base.html" %}
{% import "util.html" as util %}

{% block title %}{{ summary }}{% endblock %}

{% block body %}

<h2>Commit</h2>

<div>
    <span>commit {{ hash }}</span>
    <dl>
        <dt>Author:</dt>
        <dd>{{ author }}</dd>

        <dt>AuthorDate:</dt>
        <dd>{{ author_date }}</dd>

        <dt>Commit:</dt>
        <dd>{{ commit }}</dd>

        <dt>CommitDate:</dt>
        <dd>{{ commit_date }}</dd>

        {% for commit in parents %}
        <dt>Parent:</dt>
        <dd>{{ commit|safe }}</dd>
        {% endfor %}

        {% for commit in children %}
        <dt>Child:</dt>
        <dd>{{ commit|safe }}</dd>
        {% endfor %}
    </dl>
    <pre class="{% call util::commit_class(reachable) %}"
        title="{% call util::commit_title(reachable) %}">{{ message }}</pre>
</div>

<h2>Runs</h2>

{% if runs.is_empty() %}
There aren't any runs yet.
{% else %}
<ul>
    {% for run in runs %}
    <li>{{ run|safe }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="{{ link_admin_queue_add }}">
    <input type="hidden" name="hash" value="{{ hash }}">
    <button>Add to queue</button>
    with a <label for="priority">priority</label> of
    <input type="number" id="priority" name="priority" value="10" min="-2147483648" max="2147483647">.
</form>

{% endblock %}
