{% extends "base.html" %}

{% block title %}overview{% endblock %}

{% block body %}

<h2>Refs</h2>

<details class="refs-list" open>
    <summary>Tracked ({{ tracked_refs.len() }})</summary>
    <form method="post" action="{{ link_admin_refs_untrack }}">
        <dl>
            {% for ref in tracked_refs %}
            <dt>
                {{ ref.name }}
                [<button class="linkish" name="ref" value="{{ ref.name }}">untrack</button>]
            </dt>
            <dd>{{ ref.commit|safe }}</dd>
            {% endfor %}
        </dl>
    </form>
</details>

<details class="refs-list">
    <summary>Untracked ({{ untracked_refs.len() }})</summary>
    <form method="post" action="{{ link_admin_refs_track }}">
        <dl>
            {% for ref in untracked_refs %}
            <dt>
                {{ ref.name }}
                [<button class="linkish" name="ref" value="{{ ref.name }}">track</button>]
            </dt>
            <dd>{{ ref.commit|safe }}</dd>
            {% endfor %}
        </dl>
    </form>
</details>

<form method="post" action="{{ link_admin_repo_update }}">
    <button>Update</button>
</form>

{% endblock %}
