{% extends "base.html" %}

{% block title %}queue ({{ inner.tasks.len() }}){% endblock %}

{% block head %}
<script type="module" src="{{ link_queue_js }}"></script>
{% endblock %}

{% block body %}
<div id="inner">{{ inner|safe }}</div>

<form method="post" action="{{ link_admin_queue_add_batch }}">
    <label>
        Batch size:
        <input type="number" name="amount" value="10" min="1">
    </label>
    <label>
        Priority:
        <input type="number" id="priority" name="priority" value="-1" min="-2147483648" max="2147483647">
    </label>
    <button>Add batch to queue</button>
</form>
{% endblock %}
