{% extends "base.html" %}

{% block title %}Run of {{ summary }}{% endblock %}

{% block body %}

<h2>Run</h2>

<div>
    <span>run {{ id }}</span>
    <dl>
        <dt>Commit:</dt>
        <dd>{{ commit|safe }}</dd>

        <dt>Benchmark:</dt>
        <dd>{{ bench_method }}</dd>

        <dt>Start:</dt>
        <dd>{{ start }}</dd>

        <dt>End:</dt>
        <dd>{{ end }}</dd>

        <dt>Duration:</dt>
        <dd>{{ duration }}</dd>

        <dt>Exit code:</dt>
        <dd>{{ exit_code }}</dd>
    </dl>
</div>

<h2>Measurements</h2>

<table>
    <thead>
        <tr>
            <th>metric</th>
            <th>value</th>
            <th>stddev</th>
            <th>unit</th>
            <th>direction</th>
        </tr>
    </thead>
    <tbody>
        {% for mm in measurements %}
        <tr>
            <td>{{ mm.name }}</td>
            <td>{{ mm.value }}</td>
            <td>{{ mm.stddev }}</td>
            <td>{{ mm.unit }}</td>
            <td>{{ mm.direction }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Output</h2>

<div class="run-output">
    {% for line in output %}
    <pre>{{ line.text }}</pre>
    {% endfor %}
</div>

{% endblock %}
