{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block body %}

<h2>Worker</h2>

<div class="commit-like worker">
    <span class="title">worker {{ name }}</span>
    <dl>
        <dt>Connected:</dt>
        <dd>{{ connected }}</dd>

        {% match status %}
        {% when Status::Idle %}
        <dt>Working on:</dt>
        <dd>nothing</dd>
        {% when Status::Busy %}
        <dt>Working on:</dt>
        <dd>run for another server</dd>
        {% when Status::Working with { link, since } %}
        <dt>Working on:</dt>
        <dd>{{ link|safe }}</dd>
        <dt>Working since:</dt>
        <dd>{{ since }}</dd>
        {% endmatch %}
    </dl>
</div>

{% endblock %}
