:root {
    --lh: 1.3em;
    font-family: monospace;
    line-height: var(--lh);
    color-scheme: light dark;
}

/* General */

details,
dl {
    margin: var(--lh) 0;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    font-weight: bold;
}

dl {
    display: grid;
    grid: auto-flow / min-content 1fr;
    column-gap: 1ch;
}

dd {
    margin-left: 4ch;
}

details {
    background-color: #ddd;
}

details>* {
    margin-left: 4ch;
}

details>summary {
    margin-left: 0;
}

table {
    border-collapse: collapse;
}

thead tr,
tbody tr:hover {
    background-color: #ddd;
}

th+th,
td+td {
    padding-left: 2ch;
}

.reachable {
    color: #777;
}

.orphaned {
    color: #a33;
}

/* Nav bar */

nav {
    font-size: 1.5em;
    line-height: 1.2em;
    padding: 0.3em;
    background-color: #bdf;
    border-radius: 0.3em;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

nav>* {
    padding: 0 1ch;
    border-right: 0.1em solid black;
}

nav>:first-child {
    padding-left: 0;
}

nav>:last-child {
    padding-right: 0;
    border: none;
}

nav>.current {
    font-weight: bold;
}

nav>:first-child img {
    width: 1.2em;
    height: 1.2em;
    vertical-align: -20%;
    padding-right: 0.3em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Commit */

.commit * {
    margin: 0;
}

.commit .hash {
    color: #b70;
    font-weight: bold;
}

.commit pre {
    margin: 1em 0ch 1em 4ch;
    white-space: pre-wrap;
}

/* Runner */

.runner .name {
    color: #380;
    font-weight: bold;
}

/* Queue */

.queue td:nth-child(2),
.queue td:nth-child(3) {
    text-align: right;
}

.queue .odd {
    background-color: #eee;
}

.queue .odd:hover {
    background-color: #ddd;
}
