:root {
    --lh: 1.3em;
    font-family: monospace;
    line-height: var(--lh);
    color-scheme: light dark;
}

/* Nav bar */

nav {
    font-size: 1.5em;
    line-height: 1.2em;
    padding: 0.3em;
    background-color: #bdf;
    border-radius: 0.3em;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

nav>* {
    padding: 0 1ch;
    border-left: 0.1em solid black;
}

nav> :first-child {
    padding-left: 0;
    border: none;
}

nav> :last-child {
    margin-left: auto;
    padding-right: 0.1em;
    border: none;
}

nav>.current {
    font-weight: bold;
}

nav a {
    color: black;
}

nav img {
    width: 1.2em;
    height: 1.2em;
    vertical-align: -20%;
}

/* General */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

dd {
    margin-left: 4ch;
}

/* Commit */

.commit * {
    margin: 0;
}

.commit .hash {
    color: #b70;
    font-weight: bold;
}

.commit .message {
    margin: 1em 0ch 1em 4ch;
}

.commit dl {
    display: grid;
    grid: auto-flow / min-content max-content;
    column-gap: 1ch;
}

.commit .untracked,
.commit .untracked a {
    color: #777;
}
