* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

body {
    margin: .7em;
}

details,
ol,
p,
table,
ul {
    margin: 1em 0;
}

h2 {
    font-size: 1.7em;
    margin: 1em 0 .5em;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    font-weight: bold;
}

button {
    font-size: inherit;
    padding: 0 .5ch;
}

button.linkish {
    background-color: unset;
    border: unset;
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
}

details {
    padding: .3em 1ch;
    background-color: #ddd;
}

details>summary {
    font-weight: bold;
    cursor: pointer;
    list-style-type: "> ";
}

details[open]>summary {
    list-style-type: "v ";
}

ul,
ol {
    list-style-type: "- ";
}

dl {
    margin: 1em 0;
}

dt {
    margin-top: 1em;
}

dd {
    margin-left: 4ch;
}

table {
    border-collapse: collapse;
}

thead tr,
tbody tr:hover {
    background-color: #ddd;
}

th,
td {
    padding: .1em 0;

}

th+th,
td+td {
    padding-left: 2ch;
}

/* Nav bar */

nav {
    font-size: 1.5em;
    line-height: 1.2em;
    padding: 0.3em;
    background-color: #bdf;
    border-radius: 0.3em;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

nav>* {
    padding: 0 1ch;
    border-right: 0.1em solid black;
}

nav>:first-child img {
    width: 1.2em;
    height: 1.2em;
    vertical-align: bottom;
    padding-right: 0.3em;
}

nav>:first-child {
    padding-left: 0;
}

nav>:last-child {
    padding-right: 0;
    border: none;
}

nav>.current {
    font-weight: bold;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Commit status */

.commit-reachable {
    color: #777;
}

.commit-orphaned {
    color: #a33;
}

/* Refs */

.refs-list dl {
    margin-bottom: 0;
}

/* Queue */

.queue-commits form {
    display: inline;
}

.queue-commits button:hover {
    font-weight: bold;
}

.queue-commits td:nth-child(2),
.queue-commits td:nth-child(3) {
    text-align: right;
}

.queue-commits .odd {
    background-color: #eee;
}

.queue-commits .odd:hover {
    background-color: #ddd;
}

/* Commit */

/*

.commit * {
    margin: 0;
}

.commit dl {
    display: grid;
    grid: auto-flow / max-content 1fr;
    column-gap: 1ch;
}

.commit .hash {
    color: #b70;
    font-weight: bold;
}

.commit pre {
    margin: 1em 0ch 1em 4ch;
    white-space: pre-wrap;
}

*/

/* Worker */

/*

.worker * {
    margin: 0;
}

.worker dl {
    display: grid;
    grid: auto-flow / max-content 1fr;
    column-gap: 1ch;
}

.worker .name {
    color: #380;
    font-weight: bold;
}

*/
