<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}{% endblock %} - {{ base.repo_name }}</title>
    <link rel="icon" href="{{ base.link_logo_svg }}">
    <link rel="stylesheet" href="{{ base.link_base_css }}" />
    {% block head %}{% endblock %}
</head>

<body>
    <nav>
        <a href="{{ base.link_index }}" {% if base.tab=="index" %} class="current" {% endif %}>
            <img src="{{ base.link_logo_svg }}" alt="">{{ base.repo_name }}
        </a>
        <a href="{{ base.link_queue }}" {% if base.tab=="queue" %} class="current" {% endif %}>
            queue
        </a>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>
