<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - {{ repo_name }}</title>
    <link rel="icon" href="/logo.svg">
    <link rel="stylesheet" href="{{ base }}/base.css" />
    {% block head %}{% endblock %}
</head>

<body>
    <nav>
        <a href="{{ base }}/" {% if current=="index" %} class="current" {% endif %}>
            <img src="{{ base }}/logo.svg">
            {{ repo_name }}
        </a>
        <a href="{{ base }}/commit/" {% if current=="commit" %} class="current" {% endif %}>
            commit
        </a>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>
