<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/logo.svg">
    <link rel="stylesheet" href="{{ base }}/base.css" />
    {% block head %}{% endblock %}
</head>

<body>
    <nav>
        <a href="{{ base }}/" {% if current=="index" %} class="current" {% endif %}>
            <img src="{{ base }}/logo.svg">
            {{ repo_name }}
        </a>
        <a>just</a>
        <a>some</a>
        <a>place</a>
        <a>holder</a>
        <a>links</a>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>
