{% extends "base.html" %}
{% import "util.html" as util %}

{% block title %}{{ summary }}{% endblock %}

{% block body %}
<h2>Commit</h2>
<div class="commit">
    <span class="hash">commit {{ hash }}</span>
    <dl>
        <dt>Author:</dt>
        <dd>{{ author }}</dd>

        <dt>AuthorDate:</dt>
        <dd>{{ author_date }}</dd>

        <dt>Commit:</dt>
        <dd>{{ commit }}</dd>

        <dt>CommitDate:</dt>
        <dd>{{ commit_date }}</dd>

        {% for commit in parents %}
        <dt>Parent:</dt>
        <dd>{{ commit|safe }}</dd>
        {% endfor %}

        {% for commit in children %}
        <dt>Child:</dt>
        <dd>{{ commit|safe }}</dd>
        {% endfor %}
    </dl>
    <pre class="{% call util::commit_class(reachable) %}"
        title="{% call util::commit_title(reachable) %}">{{ message }}</pre>
</div>

<form method="post" action="{{ base.root }}{{ link_admin_queue_add }}">
    <input type="hidden" name="hash" value="{{ hash }}">
    <label>Priority: <input type="number" name="priority" value="0" min="-2147483648" max="2147483647"></label>
    <button>Add to queue</button>
</form>
{% endblock %}
