{% extends "base.html" %}

{% block title %}overview{% endblock %}

{% block body %}
<h2>Refs</h2>
<details>
    <summary>Tracked ({{ tracked_refs.len() }})</summary>
    <dl>
        {% for ref in tracked_refs %}
        <dt>{{ ref.name }}</dt>
        <dd><a href="{{ base.root }}/commit/{{ ref.hash }}">{{ ref.short }}</a></dd>
        {% endfor %}
    </dl>
</details>
<details>
    <summary>Untracked ({{ untracked_refs.len() }})</summary>
    <dl>
        {% for ref in untracked_refs %}
        <dt>{{ ref.name }}</dt>
        <dd><a href="{{ base.root }}/commit/{{ ref.hash }}">{{ ref.short }}</a></dd>
        {% endfor %}
    </dl>
</details>
{% endblock %}
