{% extends "base.html" %}
{% import "util.html" as util %}

{% block title %}overview{% endblock %}

{% block body %}
<h2>Refs</h2>
<details open>
    <summary>Tracked ({{ tracked_refs.len() }})</summary>
    <dl>
        {% for ref in tracked_refs %}
        <dt>{{ ref.name }}</dt>
        <dd>{{ ref.commit|safe }}</dd>
        {% endfor %}
    </dl>
</details>
<details>
    <summary>Untracked ({{ untracked_refs.len() }})</summary>
    <dl>
        {% for ref in untracked_refs %}
        <dt>{{ ref.name }}</dt>
        <dd>{{ ref.commit|safe }}</dd>
        {% endfor %}
    </dl>
</details>
{% endblock %}
