{% extends "base.html" %}

{% block title %}overview{% endblock %}

{% block body %}
<h2>Refs</h2>
<details>
    <summary>Tracked</summary>
    <dl>
        {% for ref in refs %}
        {% if ref.tracked %}
        <dt>{{ ref.name }}</dt>
        <dd><a href="{{ base }}/commit/{{ ref.hash }}">{{ ref.short }}</a></dd>
        {% endif %}
        {% endfor %}
    </dl>
</details>
<details>
    <summary>Untracked</summary>
    <dl>
        {% for ref in refs %}
        {% if !ref.tracked %}
        <dt>{{ ref.name }}</dt>
        <dd><a href="{{ base }}/commit/{{ ref.hash }}">{{ ref.short }}</a></dd>
        {% endif %}
        {% endfor %}
    </dl>
</details>
{% endblock %}
