{% import "util.html" as util %}

<table class="queue">
    <thead>
        <tr>
            <th>commit</th>
            <th>since</th>
            <th>prio</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr {% if task.odd %} class="odd" {% endif %}>
            <td>
                <a href="{{ base.root }}commit/{{ task.hash }}">
                    {# {% call util::commit_short(task.short, task.reachable) %} #}
                </a>
            </td>
            <td>{{ task.since }}</td>
            <td>{{ task.priority }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
