{% extends "base.html" %}
{% import "util.html" as util %}

{% block title %}{{ summary }}{% endblock %}

{% block body %}
<h2>Task</h2>
<div class="task">
    <span class="id">task {{ id }}</span>
    <dl>
        <dt>Created:</dt>
        <dd>{{ date }}</dd>

        <dt>Priority:</dt>
        <dd>{{ priority }}</dd>

        <dt>Commit:</dt>
        <dd>
            <a href="{{ base.root }}/commit/{{ hash }}">
                {% call util::commit_short(short, reachable) %}
            </a>
        </dd>
    </dl>
</div>
{% endblock %}
